* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
    margin: 5px;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/


#workspaces button {
    background-color: rgba(0,0,0,0.4);
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

.modules-center {
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 8px;
    margin-left: 20px;
}

.custom {
 padding-left: 10px;
}

.modules-center , .modules-left , .modules-right {
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 8px;
    margin-left: 20px;
}

.modules-center {
    padding : 0 0 0 10px;
}

.modules-right {
    padding : 0;
    background-color: rgba(0,0,0,0);
}

.modules-left {
    padding: 0 0 0 0;
}



#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-workspace1, #custom-workspace2, #custom-workspace3, #custom-workspace4 {
    margin-right: 0px;
}

#custom-workspace1, #custom-workspace2, #custom-workspace3, #custom-workspace4, #custom-workspace5 {
    font-weight: bold;
    color: #ededed;
    padding: 0 12px 0 12px;
}

#custom-workspace1:hover , #custom-workspace2:hover, #custom-workspace3:hover, #custom-workspace4:hover, #custom-workspace5:hover {
    font-weight: bold;
    color: #333;
}

.enabledWsp {
    background: linear-gradient(0deg, rgba(0,74,255,1) 0%, rgba(0,212,255,1) 100%); 
    border-radius: 20px;
}


#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color : red;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}


#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode,
#battery,
#disk,
#custom-menu,
#custom-brightness,
#custom-power_off,
#pulseaudio {
  padding : 3px 10px 3px 10px;
  border-radius: 20px;
  background: rgba(0,0,0,0.4);  
  margin : 0 2px 0 2px;
}

#clock {
  font-size : 15px;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin-right: 5px
}

#tray, #network {
  padding : 3px 10px 3px 5px;
  background: rgba(0,0,0,0.4);
  border-radius : 0 20px 20px 0;
}

#network {
  border-radius: 20px 0 0 20px;
  padding : 3px 0px 3px 10px;
  color : #b5f3ff;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio.muted {
  font-size: 17px;
  color: #ff9c9c;
}

#disk {
  color : #a8beff;
}

#battery {
   color: #9cffc9;
}

#custom-brightness {
   color: #fdffc4;
}

#custom-menu {
  margin-left: 0;
  font-size: 18px; 
}

#custom-power_off {
  color: #00ADEF;
}

#window {
  padding : 3px 10px 3px 0;
}

#taskbar button {
  padding : 3px 5px 3px 5px;
  color : #dbdbdb;
  font-weight : bold;
}

#taskbar button:hover {
  background : transparent;
}
